<div class="form-group">
    <app-auth></app-auth>
</div>
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary btn-block" routerLink="/micro1">Mostrar Datos de un
                    microservicio</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block" routerLink="/micro2">Mostrar Datos de un
                    microservicio conectado con DB</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-block" routerLink="/micro3">Mostrar Datos de un
                    microservicio conectado con otro</button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>